*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Arial, Helvetica, sans-serif;
}

body{
  background:#0b1120;
  color:white;
}

.hero{
  min-height:100vh;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  text-align:center;
  padding:20px;
  background:linear-gradient(135deg,#0b1120,#1d4ed8);
}

.profile{
  width:180px;
  height:180px;
  border-radius:50%;
  object-fit:cover;
  border:4px solid #38bdf8;
  margin-bottom:20px;
}

h1{
  font-size:48px;
  margin-bottom:10px;
}

h3{
  color:#38bdf8;
  margin-bottom:15px;
}

p{
  color:#d1d5db;
  max-width:600px;
  line-height:1.7;
}

.btn{
  margin-top:25px;
  display:inline-block;
  padding:14px 28px;
  background:#38bdf8;
  color:black;
  text-decoration:none;
  border-radius:30px;
  font-weight:bold;
}
/* ===== NAVBAR ===== */

.nav{
  position:fixed;
  top:0;
  left:0;
  width:100%;
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:18px 8%;
  background:rgba(10,20,35,.65);
  backdrop-filter:blur(14px);
  z-index:999;
}

.nav h2{
  color:#38bdf8;
  font-size:28px;
  font-weight:700;
}

.nav ul{
  display:flex;
  list-style:none;
  gap:28px;
}

.nav a{
  text-decoration:none;
  color:white;
  font-weight:500;
  transition:.3s;
}

.nav a:hover{
  color:#38bdf8;
}

.hero{
  padding-top:120px;
}
/* ===== ABOUT ===== */

.about{
  padding:90px 10%;
  background:#0f172a;
  text-align:center;
}

.about h2{
  font-size:38px;
  color:#38bdf8;
  margin-bottom:25px;
}

.about p{
  max-width:850px;
  margin:auto;
  color:#d1d5db;
  line-height:2;
  font-size:18px;
}
/* ===== SKILLS ===== */

.skills{
  padding:90px 10%;
  background:#08111f;
}

.skills h2{
  text-align:center;
  color:#38bdf8;
  font-size:38px;
  margin-bottom:40px;
}

.skill-box{
  max-width:800px;
  margin:auto;
}

.skill{
  margin-bottom:25px;
}

.info{
  display:flex;
  justify-content:space-between;
  margin-bottom:8px;
  font-weight:600;
}

.bar{
  height:10px;
  background:#334155;
  border-radius:20px;
  overflow:hidden;
}

.fill{
  height:100%;
  background:linear-gradient(90deg,#38bdf8,#2563eb);
  border-radius:20px;
}

.html{width:90%}
.css{width:85%}
.js{width:75%}
.cpp{width:90%}
.java{width:70%}
/* ===== PROJECTS ===== */

.projects{
  padding:90px 10%;
  background:#0f172a;
}

.projects h2{
  text-align:center;
  color:#38bdf8;
  font-size:38px;
  margin-bottom:40px;
}

.project-grid{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(300px,1fr));
  gap:30px;
}

.card{
  background:#162032;
  border-radius:18px;
  overflow:hidden;
  transition:.35s;
}

.card:hover{
  transform:translateY(-10px);
}

.card img{
  width:100%;
  height:200px;
  object-fit:cover;
}

.content{
  padding:20px;
}

.content h3{
  margin-bottom:10px;
}

.content p{
  color:#d1d5db;
  line-height:1.7;
}
/* ===== EDUCATION ===== */

.education{
  padding:90px 10%;
  background:#08111f;
  text-align:center;
}

.education h2{
  color:#38bdf8;
  font-size:38px;
  margin-bottom:35px;
}

.edu-card{
  max-width:700px;
  margin:auto;
  background:#162032;
  padding:35px;
  border-radius:20px;
  border-left:6px solid #38bdf8;
}

.edu-card h3{
  font-size:28px;
  margin-bottom:8px;
}

.edu-card h4{
  color:#38bdf8;
  margin-bottom:10px;
}

.edu-card p{
  color:#d1d5db;
  margin-bottom:8px;
}

.edu-card span{
  color:#94a3b8;
}
/* ===== CONTACT ===== */

.contact{
  padding:90px 10%;
  background:#0f172a;
  text-align:center;
}

.contact h2{
  color:#38bdf8;
  font-size:38px;
  margin-bottom:35px;
}

.contact-card{
  max-width:700px;
  margin:auto;
  background:#162032;
  padding:35px;
  border-radius:20px;
}

.contact-card p{
  color:#94a3b8;
  margin-top:18px;
}

.contact-card h3{
  color:white;
  margin-top:5px;
}

/* ===== FOOTER ===== */

.footer{
  background:#030712;
  padding:35px;
  text-align:center;
}

.footer h2{
  color:#38bdf8;
  margin-bottom:8px;
}

.footer p{
  color:#cbd5e1;
}

.footer small{
  color:#64748b;
}